<div class="Title"></div>
<h2><%= @articles.title %></h2>
<p><%= link_to '🖊', edit_article_path %></p>
<p><%= link_to '🗑', article_path %></p>
</div>
<p><%= @articles.content  %></p>




<%# '🖊', ''  %>
